/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url('../images/cover-image-dark.png');
  --background-color: #000028;
  --display-rec: inline;
  --title-color: #DB00FF;
  --title-decor-color: #000028;
  --accent-color: #FF0070;
  --menu-color: var(--accent-color);
  --hover-menu-color: #FF007066;
  --main-text-color: #F1B2CE;
}