/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url('../images/cover-image-light.png');
  --background-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --menu-color: #353430;
  --hover-menu-color: #32312D66;
  --display-rec: none;
  --title-color: #FFC2E6;
  --main-text-color: var(--menu-color);
  --title-decor-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url('../images/cover-image-light.png');
    --background-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --menu-color: #353430;
    --hover-menu-color: #32312D66;
    --display-rec: none;
    --title-color: #FFC2E6;
    --main-text-color: var(--menu-color);
    --title-decor-color: #353430; 
  }
}