/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--font-family);
  background-color: var(--background-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  margin-bottom: 30px;
  padding: 10px;
}

.decorated-zone {
  position: relative;
  display: grid;
  block-size: max(100vb, 668px);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: var(--menu-color) var(--menu-color) transparent transparent;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: transparent transparent var(--menu-color) var(--menu-color);
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 19px;
  display: var(--display-rec);
  color: var(--accent-color);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
}

.header__rec::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-block-start: 65px;
  margin-block-end: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-self: center;
  border: none;
  color: var(--menu-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 100%;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  min-block-size: 26px;
  min-inline-size: 70px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-menu-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
  pointer-events: none;
}

.title {
  color: var(--title-color);
  font-weight: var(--font-weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
}

.title-decor {
  color: var(--title-decor-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0;
  background-color: var(--accent-color);
  block-size: max-content;
}

header p {
  justify-self: end;
  inline-size: 100%;
  block-size: max-content;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.main {
  display: grid;
  gap: 50px;
  padding: 10px;
}

.main__title {
  color: var(--menu-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0;
}

.section,
.list {
  display: grid;
  gap: 20px;
}

.main__text {
  color: var(--main-text-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0;
}

.text-link {
  color: var(--main-text-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
  border-bottom: 1px solid currentColor;
}

.text-link:focus-visible {
  border: 1px solid currentColor;
  outline: none;
}

.main__article {
  display: grid;
  gap: 10px;
  align-self: start;
}

.how > .main__article {
  gap: 20px;
}

li {
  display: grid;
  gap: 10px;
}

.main__header {
  font-weight: var(--font-weight);
}

.section-gallery {
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  inline-size: 100%;
}

.gallery img {
  justify-self: center;
  object-fit: cover;
  inline-size: 100%;
  block-size: auto;
}

.footer__title {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    margin-block-end: 40px;
    padding: 20px 20px 20px 0;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  header .title-decor {
    inline-size: calc(50vi - 20px);
    max-inline-size: max-content;
  }

  .header__rec {
    top: 20px;
    right: 29px;
    display: var(--display-rec, inline);
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    margin-block-start: 172px;
  }

  .main {
    gap: 80px;
    margin-block-end: 10px;
    padding: 20px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .why > .main__article,
  .how > .main__article {
    grid-column: 2 / span 1;
  }

  .what > .list {
    grid-column: 1 / span 2;
  }

  .section-gallery {
    gap: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery img {
    inline-size: 100%;
    block-size: 100%;
  }

  .gallery img:nth-child(1) {
    grid-column: 1 / span 2;
  }
 
  .gallery img:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .gallery img:nth-child(3) {
    grid-row: 2 / span 2;
  }

  .gallery img:last-child {
    grid-column: 2 / span 2;
    grid-row: 3;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    flex-direction: row;
    justify-self: center;
    align-self: start;
    margin-inline-start: 20px;
    margin-block-start: 0;
    margin-block-end: 160px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
  }

  .why > .main__article,
  .how > .main__article {
    grid-column: 2 / span 2;
  }

  .what > .list {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
    grid-row: 2;
    gap: 20px;
  }
}