/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url('../images/cover-image-dark.png');
  --background-color: #000028;
  --accent-color: #FF0070;
  --menu-color: var(--accent-color);
  --hover-menu-color: #FF007066;
  --font-family: "IBM Plex mono", monospace;
  --font-weight: 400;
  --font-weight-bold: 700;
  --font-size: 18px;
  --display-rec: inline;
  --title-color: #DB00FF;
  --title-decor-color: #000028;
  --main-text-color: #F1B2CE;
}
